.widget.searchsubmit {
	display: none;
}

.blog-sidebar {

	@media only screen and (min-width : 320px){
		@include span-columns(12 of 12);  
	}
	@media only screen and (min-width : 600px){

	}
	@media only screen and (min-width : 768px) {
		@include span-columns(4);
		padding-top: 10%;
	}
	@media only screen and (min-width : 1024px) {

	}
}

.full-blog-image img{
	width: 100%;
	margin-bottom: em(20px);	
}

.widget {
	padding-top: 15px;
	line-height: 1.5em;
		h4 {
			margin-bottom: em(20px);
			text-align: left;

			@media only screen and (min-width : 320px){
		 		font-size: em(20px)
			}
			@media only screen and (min-width : 768px){
		 		font-size: em(24px)
			}
			
		}
		ul {
			list-style: none;
			padding-left: 0;
		}
		li a{
			color: $blog-sidebar-links;
				@media only screen and (min-width : 320px){
				 	font-size: em(15px)
				}
				@media only screen and (min-width : 600px){
				 	font-size: em(16px)
				}
			}
		p {
				
		}

		#searchform input {
			padding: 6px 10px;
		}
}

