
.blog-stories {
    @include span-columns(12);
    padding-bottom: 5%;
    overflow: hidden;
}

.blog-item-wrapper {

}

.blog-item {
    margin-bottom: 2%;

        @media only screen and (min-width : 320px){
            @include span-columns(12 of 12);   
            text-align: left;             
            padding: 5% 2%;

        }
        @media only screen and (min-width : 768px){
            @include span-columns(6 of 12);
            margin-right: inherit;
            margin-right: 2.35765%;
                &:nth-child(even) {
                    margin-right: 0;
                }
        }  
        @media only screen and (min-width : 1042px) {
            @include span-columns(4 of 12);
                &:nth-child(even) {
                    margin-right: 2.35765%;
                }   
                &:nth-child(3n+3) {
                    margin-right: 0;
                }
        }
}


.submit-story {
    @include span-columns(12);
    text-align: center;
    font-family: $font-family--secondary;
    margin-bottom: 5%;
        i {
            padding-right: 14px;
        }
        p {
            letter-spacing: 1.8px;
            font-size: em(14px);
            @media only screen and (min-width : 768px) {
                font-size: em(16px);
            }
        }

}

.blog-image {

     @media only screen and (min-width : 320px) {
        overflow: hidden; 
        text-align: center; /*to keep centered when img size drops on mobile */
        height: 190px;
    }
    @media only screen and (min-width : 480px) {
        height: 270px;
    }
    @media only screen and (min-width : 600px) {
        height: 320px;
        // text-align: left;
    }
    @media only screen and (min-width : 650px) {
        height: 340px;
     
    }
    @media only screen and (min-width : 768px) {
        height: 230px;
        // text-align: left;
    }
}

.blog-image img {
    /* corrects inline gap in enclosing div */
    display: inline-block;
    max-width: 100%;
    /* just in case, to force correct aspect ratio */
    height: auto !important;
    width: auto\9; /* ie8+9 */
    /* lt ie8 */
    -ms-interpolation-mode: bicubic; 
    }

.blog-info {

    padding: 2%;
        .blog-descript {
            color: $color-font--dark;
            border-top: 1px solid $color-font--dark;
            padding-top: 15px;
        }
        .read-more {
            text-transform: uppercase;
            @media only screen and (min-width : 320px) {
                font-size: 13px;
            }
            
            @media only screen and (min-width : 1024px) {
                font-size: em(14px);
            }
        }
        h4 {
            text-align: left;
            line-height: 1.5em; 
            @media only screen and (min-width : 320px) {
                font-size: em(18px);
                margin-top: em(12px);
            }
            @media only screen and (min-width : 1024px) {
                font-size: em(22px);
            }
        }
        h5 {
            text-align: left;
            margin: 0;

            @media only screen and (min-width : 320px) {
                 font-size: em(13px);
            }
            @media only screen and (min-width : 1024px) {
                font-size: em(14px);
            }
            
        }

        h5>span a{
            color: $blog-sidebar-links;
            text-transform: uppercase;
        }
}

